<head>
  <style>
    .jumbotron {
      background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5) 75%), url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
      background-size: cover;
      height: 500px;
      color: white; /* Color de las letras */
      font-family: Arial, sans-serif; /* Estilo de la fuente */
    }
  </style>
</head>

<div class="container">
  <div class="col-12 my-3">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">SellPhone</h1>
        <p class="lead">A new way to buy and sell</p>
        <%= link_to("Shop NOW", products_path, class: "btn btn-primary btn-lg") %>
      </div>
    </div>

    <main class="my-5">
      <section class="featured-products">
        <div class="text-center mb-5">
          <h2>Featured products</h2>
        </div>

        <div class="row">


          <%=  %>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm transition: transform 0.2s">
              <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
              <div class="card-img-overlay"></div>
              <div class="card-body">
                <h3 class="card-title">Product 1</h3>
                <p class="card-text">$99.99</p>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm transition: transform 0.2s">
              <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
              <div class="card-img-overlay"></div>
              <div class="card-body">
                <h3 class="card-title">Product 1</h3>
                <p class="card-text">$99.99</p>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm transition: transform 0.2s">
              <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
              <div class="card-img-overlay"></div>
              <div class="card-body">
                <h3 class="card-title">Product 1</h3>
                <p class="card-text">$99.99</p>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>


        </div>
      </section>
    </main>


    <footer class="py-3">
      <div class="text-center">
      <div class="footer">
<div class="footer-links">
  <a href="#"><i class="fab fa-github"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
</div>
<div class="footer-copyright">
</div>
</div>
      </div>
    </footer>
  </div>

  </div>
</div>
