<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<ul>
  <% @products.where(available: true).each do |product| %>
    <li><%= link_to(product.name, product_path(product.id)) %></li>
  <% end %>
</ul>

<%= link_to("New product", new_product_path) %>
<br>
<% if user_signed_in? %>
  <% if @products.where(user_id: current_user.id).size > 0 %>
    <%= link_to("My products", my_products_products_path) %>
  <% end %>
<% end %>
<br>
<%# si no inicio sesión no puedeo ejecutar current_user.id %>
<% if user_signed_in? %>
  <% if @products.where(user_id: current_user.id).size > 0 %>
    <%= link_to("Mis solicitudes de compra", my_registers_registers_path) %>
  <% end %>
<% end %>
<br>
